.main-header {  
  top: 34px;
}

h5{
  font-size: 14px;
  margin-top: 14%;
  color: #fff;
}
.moving-mouse-holder {
  margin:0 auto;

}
.moving-mouse-holder .mouse {
    margin: 2% auto 0;
    width: 32px;
    height: 58px;
    position: relative;
    border-radius: 25px;
    border: 1px solid #fff;
}

.moving-mouse-holder .mouse-button {
 

background-color: #fff;
width: 8px;
height: 8px;
border-radius: 4px;
position: absolute;
top: 0px;
left: 50%;
margin: 0 0 0 -4px;
animation: ani-mouse 2.5s linear infinite;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: ani-mouse;
}
@keyframes ani-mouse {
from{top:0; opacity: 1;}
to{top:50px; opacity: 0;}
} 
.parent > div.project01{
  width: 48%;
  position: absolute;
  left: 0; top: 0;
  margin-left: 90px;
}
.parent > div.txt{
  margin-top: 30px;
  
   text-align: left;
   width: 25%;
   position: absolute;
   right: 13%; top: 0;
 }
 .parent > div.txt a{
  margin-top: 30px;
  
   text-align: left;
  
   position: absolute;
   left: 0; bottom: -60px;
   display: inline-block;
   width: 140px; height: 40px;
   line-height: 40px; text-align: center;
   font-size: 15px;
   color: tomato;
   border: 1px solid tomato;
   
 }
 .parent > div.txt a.right{
   left: 150px;
 }
 .parent > div.txt a.con{
  left: 0px; bottom: -115px;
}

.parent01 > div.project02{
  margin-left: -360px;
}
 .parent01 > div.txt01{
  margin-top: 50px;
  
  text-align: left;
  width: 25%;
  position: absolute;
  right: 8%; top: 0;

 }
 .parent01 > div.txt01 a{
  display:inline-block;
  width: 140px; height: 40px;
  line-height: 40px; text-align: center;
  font-size: 15px;
  color: tomato;
  border: 1px solid tomato;
  margin-top: 30px;
  position: absolute;
  left: 0; bottom: -60px;
 }
  .parent01 > div.txt01 a.right01{
  left: 150px; 
}
.parent01 > div.txt01 a.con01{
 left: 0px; bottom: -115px;
} 

.portfolio-overlay a.link{
  display: block;
  opacity: 1;
}

 .swiper {
   width: 100%;
   height: 100%;
 }
 
 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
 
   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
 
 }
 
 .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 } 
 .mySwiper{
   width: 100%;
   padding: 50px 0 50px;
 }
 .swiper-slide .parent{
   position: relative;
 }
 .swiper-pagination-fraction {
  bottom: 0px;
  left: 0;
  width: 100%;
}
.swiper-button-next:after, .swiper-button-prev:after {
  content:none;
}



 .fa-hand-point-right:before {
  content: "\f0a4";
  font-size: 28px;
  color: tomato;
}
.fa-hand-point-left:before {
  content: "\f0a5";
  font-size: 28px;
  color: tomato;
}
.swiper-button-next, .swiper-button-prev {
top: 10%;
}
h4{
  font-size: 25px !important;
  color: tomato !important; 
  margin-bottom: 20px;
}
.parent p, .parent01 p{
  margin: 5px 0;
  font-weight: bold;
}
.parent p span, .parent01 p span{
  font-weight: normal;
  display: block;
}
.logo-wrapper a {
  
  padding-left: 130px;
  line-height: 100px;
  text-transform: none;
  color: #ec523f;
  font-size: 28px;
  font-weight: 700;
}
.txtwrap{
  margin-left: 180px;
}

.txtwrap p span{
  font-weight: bold;
  font-size: 18px;
  color: #ec523f;
  margin-right: 10px;
}
.skills-heading h3.skills-title {
  font-style: normal;
  font-size: 23px;
  text-transform: uppercase;
  color: #5e5e5e;
}
.portfolio-item .portfolio-thumb{
  height: 370px;
}

 
  .portfolio-item .portfolio-thumb .portfolio-overlay a.click {
     margin-top: 15px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    background-color: rgba(255,255,255,0); 
    display: block;
    text-align: center;
    
}
/* #lightbox{ 
  overflow: scroll;
}
#lightbox img.over{
  width: 900px;
  height: 1200px;
}*/
.portfolio-overlay h3{
  margin: 38px 0 18px;
  font-size: 40px;
}
.portfolio-overlay p{
  font-size: 20px;
} 

.portfolio-item .portfolio-thumb .portfolio-overlay a.expand.link02 {
  margin-top: 15px;
  width: 160px;
  height: 40px;
  position: absolute;
  top:40%; left: 50%;
  background-color: white;
  display:block;
  text-align: center;
  transform: translateX(-50%);
}
.portfolio-item .portfolio-thumb .portfolio-overlay a.expand.link01 {
  margin-top: 15px;
  width: 160px;
  height: 40px;
  position: absolute;
  top:54%; left: 50%;
  background-color: white;
  display:block;
  text-align: center;
  transform: translateX(-50%);
}
.portfolio-item .portfolio-thumb .portfolio-overlay a.expand.link03 {
  margin-top: 15px;
  width: 160px;
  height: 40px;
  position: absolute;
  top:68%; left: 50%;
  background-color: white;
  display:block;
  text-align: center;
  transform: translateX(-50%);
}
.heading-section h2 {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #444444;
  display: inline-block;
}
.btn-primary {
  color: #fff;
  background-color: #ec523f;
  border-color: #ec523f;
  margin-right: 50px;
  margin-top: 60px;
}
.btn-primary:last-child{
  margin-right: 0;
}
h1 {
  font-size: 45px !important;
  color: #fff !important;
  margin-top: 2%;
}
